@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-foreground: 255 255 255;

    --color-primary: 23 158 126;
    --color-secondary: 44 111 239;
    --color-secondary-light: 110 160 250;
    --color-tertiary: 238 167 21;

    --color-content: 0 0 0;
    --color-content-light: 142 142 142;
    --color-content-contrast: 255 255 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-foreground: 0 0 0;
        --color-content: 255 255 255;
        --color-content-contrast: 0 0 0;
    }
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding:0;
    margin: 0;

}

/*Typography*/
.h1 {
    @apply text-5xl font-bold leading-tight;
}

.h3 {
    @apply text-3xl font-bold leading-tight;
}

* {
    margin: 0;
}

@layer utilities {
    .text-balance {
        text-wrap: normal;
    }
}
